<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
	<a class="navbar-brand" href="#">Roe River</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarCollapse">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="{{ path_for('home') }}">Home <span class="sr-only">(current)</span></a>
			</li>
		</ul>
		<ul class="navbar-nav navbar-right">
			{% if auth.check %}
				<ul class="navbar-nav mr-auto">
						<a class="nav-link" href="{{ path_for('shoppingcart') }}">Shoppingcart <span class="sr-only">(current)</span></a>
				</ul>
				
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						{{ auth.user.username }}
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="{{ path_for('auth.profile') }}">View Profil</a>
					<a class="dropdown-item" href="{{ path_for('auth.password.change') }}">Change Password</a>
					<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="{{ path_for('auth.logout') }}">Logout</a>
					</div>
				</li>

			{% else %}

				<li class="nav-item">
					<a class="nav-link" href="{{ path_for('auth.signup') }}">Sign Up</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path_for('auth.login') }}">Login</a>
				</li>
			{% endif %}
		</ul>
	</div>
</nav>