{% extends 'home.twig' %}

{% block product %}

<div class="container-fluid">
	<div class="row">
		<div class="col">
			<div class="row">
				<div class="col-md-auto">
					<h2>Picture</h2>
					<img src="{{ product.picture }}">
				</div>
				<form method="post">
					<div class="col">
						<p><h3>{{ product.price }}$</h3></p>
						<p>5 Left in Stock</p>
						<input type="number" id="amount" name="amount" class="form-control" value="1">
						<button type="submit" class="btn btn-primary btn-lg">BUY</button>
					</div>
					{{ csrf.field | raw }}
				</form>
			</div>
			<div class="container">
				<h2>Description</h2>
				<p> {{ product.description }} </p>
			</div>
		</div>
		<div class="col col-lg-3">
			<h1>Specification</h1>
			{{ product.category }}
		</div>
	</div>
</div>
	

{% endblock %}